{% extends 'ylezzanne.html.twig' %}

{% block content %}
<div class="container">
			{% if msg %}
			    {{ msg }}
			{% endif %}
			{% if error %}
			    {{ error }}
			{% endif %}
			{% if success %}
			    {{ success }}
			{% endif %}

{{name}}
{{openid}}
{{email}}
{{fullname}}
{{gender}}
{{dob}}


</div>
{% endblock %}