{% extends 'ylezzanne.html.twig' %}

{% set active = 'name' %}

{% block content %}
	<div class = "container text-center">
		<div class="row">
		{% for game in games %}
			<div class="col-lg-4">
				<img src="{{game.image}}" class="img-circle" alt= "{{game.name}}">	
				<a href="{{game.source}}"><h2>{{game.name}}</h2></a>
				<a href="/db/game/{{game.id}}"><p>Statistika</p></a>
			</div>
        {% else %}
			<div class="col-lg-4">
				'No games to play!'
            </div>
        {% endfor %}
		</div>
	</div>

{% endblock %}