{% extends 'ylezzanne.html.twig' %}

{% block content %}
<div class="container">
	<form class="form-signin" action="{{ path('login_check') }}" method="post">

			{% if error %}
			    {{ error }}
			{% endif %}
	        
	        <h2 class="form-signin-heading">Sisselogimine</h2>
	        
	        <label for="username" class="sr-only">Kasutajanimi</label>
	        <input type="text" id="username" name="_username" value="{{ last_username }}"  class="form-control" placeholder="Kasutajanimi" required autofocus />
	        
	        <label for="password" class="sr-only">Parool</label>
	        <input type="password" id="password" name="_password" value="" class="form-control" placeholder="Parool" required />
	        
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Logi sisse</button>
	</form>
<<<<<<< HEAD
<form style="display: inline" action="login?action=eid-login" method="get">
  <button type="button" class="btn btn-info btn-block"><img src="{{ app.request.basepath }}/images/id-kaart.png" alt="mobiilid"></button>
</form>		
<form style="display: inline" action="login?action=mid-login" method="get">
=======
<form style="display: inline" action="?action=eid-login" method="get">
  <button type="button" class="btn btn-info btn-block"><img src="{{ app.request.basepath }}/images/id-kaart.png" alt="mobiilid"></button>
</form>		
<form style="display: inline" action="?action=mid-login" method="get">
>>>>>>> parent of f5e7700... link fix
  <button type="button" class="btn btn-info btn-block"><img src="{{ app.request.basepath }}/images/mobiil-id.png" alt="mobiilid"></button>
</form>	

</div>
{% endblock %}