{% extends 'ylezzanne.html.twig' %}

{% block content %}
<div class="container">
	<form class="form-signin" action="{{ path('login_check') }}" method="post">

			{% if msg %}
			    {{ msg }}
			{% endif %}
			{% if error %}
			    {{ error }}
			{% endif %}
			{% if success %}
			    {{ success }}
			{% endif %}
	        
	        <h2 class="form-signin-heading">ID login</h2>
	        
	        <label for="username" class="sr-only">Kasutajanimi</label>
	        <input type="text" id="username" name="_username" value="{{ email }}"  class="form-control" placeholder="Kasutajanimi" required autofocus />
	        
	        <label for="password" class="sr-only">Parool</label>
	        <input type="password" id="password" name="_password" value="{{ password }}" class="form-control" placeholder="Parool" required />
	        
		
{{openid}}</br>
{{email}}</br>
{{fullname}}</br>
{{gender}}</br>
{{dob}}</br>

{{user.username}}</br>
{{user.password}}</br>

	    <button class="btn btn-lg btn-primary btn-block" type="submit">Registreeri kasutjaks</button>
	    <button class="btn btn-info btn-block">Katkesta</button>
	</form>


</div>
{% endblock %}