{% extends 'ylezzanne.html.twig' %}

{% set active = 'name' %}

{% block content %}
<div class="container">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-xs-12">
			<p class="pull-left visible-xs">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Men&uuml;&auml;</button>
			</p>
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
				<div class="list-group">
					<a href="#" class="list-group-item active">TOP M&auml;ngud</a>
					
					{% for game in topGames %}
						<a href="/game/{{game.id}}" class="list-group-item">{{ game.name }} ({{ game.total }})</a>
					{% else %}
						<p>M&auml;nge ei leitud!</p>
				        {% endfor %}
				</div>
			</div>
			<div class="jumbotron col-xs-offset-0 col-sm-offset-3">

				<img src="{{ app.request.basepath }}/images/users/profile_placeholder.jpg" alt="profiilipilt" class="img-circle">
				<p>Nimi</p> <b>{{user.username}}</b>
				<p>Email</p> <b>{{user.mail}}</b>
				<p>Registreerus</p> <b>{{ user.createdAt|date('Y-m-d H:i') }}</b>
				<p><a href="/tbd/{{name}}">Muuda parool</a></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}