<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/valikuleht.css" >
    <title>Ylezzanne</title>
</head>
<body class = "liikumisega">
{% set active = name|default(null) %}
{% set error = error|default(null) %}
{% set last_username = last_username|default(null) %}

<nav class="navbar navbar-default navbar-fixed-top">
	<div class ="container">
		<div class="navbar-header">
			{% if active %} 
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			</button>
			{% endif %}
			<a class="navbar-brand" href="#">ylezzanne</a>
		</div>
		{% if active %}
		<div id="navbar" class="navbar-collapse collapse">	
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" 
					aria-expanded="false"> Mina <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/user/{{name}}">Profiil</a></li>
						<li><a href="/tbd/{{name}}">Muuda parooli</a></li>
						<li><a href="/db/">Statistika</a></li>
						<li><a href="{{ path('logout') }}">Logi v&auml;lja</a></li>
					</ul>
				</li>
			</ul>
		</div>	
		{% endif %}
	</div>
</nav>

{% block content %}

{% endblock %}

<script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/js/jquery.dataTables.js">
<script src="{{ app.request.basepath }}/js/offcanvas.js"></script>

</body>
</html>
